title{
    color: black;
  }
  h3{
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:SlateBlue;
    text-align: center; 
    text-decoration: underline;
  }
  
  table{
    font-family: Calibri; 
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    text-align:center; 
    background-color: rgb(10, 9, 15); 
    border-collapse: collapse; 
    border: 2px solid rgb(185, 68, 14);
    border-radius: 20px; 
  }
  table.inner{
    border: 0px
  }